<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="scrappersConnectionString" connectionString="Data Source=NANU\SQLEXPRESS;Initial Catalog=scrappers;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ScrapperConnectionString" connectionString="Data Source=NANU\SQLEXPRESS;Initial Catalog=Scrapper;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ScrapperConnectionString1" connectionString="Data Source=DESKTOP-SRS9QEO\SQLEXPRESS;Initial Catalog=Scrapper;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>